#
# Managed by Ansible
#
{% for key in effective_audit_audispd_config | sort %}
{% set val = effective_audit_audispd_config[key] %}
{{ key }} = {{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endfor %}
